/* google font added here */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Google font work sans css started here */

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;   /*normal font weight */
  font-style: normal;
}
/* google font add work end here */

/* ########Shared  STYLE Start here ###########*/
.display-flex{
    display: flex;
}

/*** Color css start***/

.text-gray{
    color: #424242;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

/*** Color css End ***/

/* ##########Shared  STYLE End here ##### ####*/

/* Header css start here  */

.navber{
justify-content: space-between;

}

.nav-links{
gap: 4.625rem;
}
.nav-items{
    list-style-type: none;
}

.nav-link{
    text-decoration: none;
   font-size: 18px;
   font-weight: 500;
}






/* Header css End here  */