/* google font added here */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Google font work sans css started here */

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;   /*normal font weight */
  font-style: normal;
}
/* google font add work end here */

/* ########Shared  STYLE Start here ###########*/
.display-flex{
    display: flex;
}

/*** Color css start***/

.text-gray{
    color: #424242;
}
.text-gray3{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 21px 24px;
}

/*** Color css End ***/

/* ##########Shared  STYLE End here ##### ####*/

/* Header css start here  */

.navber{
justify-content: space-between;
align-items: center;

}
.brand{
    font-size: 2.8125rem;
    font-size: 700;
}

.nav-links{
gap: 4.625rem;
}
.nav-items{
    list-style-type: none;
}

.nav-link{
    text-decoration: none;
   font-size: 18px;
   font-weight: 500;
}

.navber , .banner{
    max-width: 1452px;
    margin: 0 auto;
}
/* Header css End here  */

/* ##########Banner Css start ######### */

.banner-contents{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 39px;

}
.banner-description{
    font-size: 1rem;
     margin-bottom: 32px;
}
.banner-image img{
    width: 100%;
  
}
/* responsive */
@media screen and (max-width:576px) {
    .navber, .nav-links{
        flex-direction: column;
    }
    .nav-links{
       gap: 12px;
    }
}